/* line 14, ../compass/sass/styles.scss */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 21, ../compass/sass/styles.scss */
.App-header {
  background-color: rgba(194, 194, 194, 0.2);
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
  height: 65px;
  color: #000022;
  position: fixed;
  width: 100%;
  top: 0;
}

/* line 31, ../compass/sass/styles.scss */
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

/* line 36, ../compass/sass/styles.scss */
.inner-header {
  max-width: 1000px;
  position: relative;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 44, ../compass/sass/styles.scss */
.brand {
  position: absolute;
  top: 50%;
  font-family: "Ewert";
  color: #00C2C2;
  transform: translate(0, -50%);
}
/* line 50, ../compass/sass/styles.scss */
.brand #l {
  font-size: 53px;
}
/* line 53, ../compass/sass/styles.scss */
.brand #o {
  font-size: 35px;
  font-family: "Asul";
}
/* line 57, ../compass/sass/styles.scss */
.brand #g {
  font-size: 35px;
  font-family: "Asul";
}
/* line 61, ../compass/sass/styles.scss */
.brand #n {
  font-size: 35px;
  font-family: "Asul";
}

/* line 67, ../compass/sass/styles.scss */
.login {
  position: absolute;
  top: 50%;
  font-family: "Asul";
  transform: translate(0, -50%);
  right: 20px;
  color: #00C2C2;
  padding: 5px;
}
/* line 75, ../compass/sass/styles.scss */
.login span:hover {
  cursor: pointer;
}

/* line 80, ../compass/sass/styles.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 90, ../compass/sass/styles.scss */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  max-width: 100%;
  height: 450px;
  max-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
  border-radius: 5px;
}

/* line 104, ../compass/sass/styles.scss */
.modal-wrapper {
  position: relative;
}

/* line 108, ../compass/sass/styles.scss */
.button-wrapper {
  position: absolute;
  top: -21px;
  right: 8px;
}

/* line 114, ../compass/sass/styles.scss */
.close-modal-button {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 3px;
}
/* line 119, ../compass/sass/styles.scss */
.close-modal-button:hover {
  cursor: pointer;
}

/* line 124, ../compass/sass/styles.scss */
.close-modal-button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  /* use the hex value here... */
  font-size: 25px;
  line-height: 43px;
  text-align: center;
}

/* line 136, ../compass/sass/styles.scss */
.modal-header {
  font-family: "Asul";
  text-align: center;
  margin: 30px 40px;
}

/* line 142, ../compass/sass/styles.scss */
.modal-body {
  margin: 0 40px;
}

/* line 146, ../compass/sass/styles.scss */
#email-input, #password-input {
  border: 1px solid #ccc;
  height: 36px;
  padding: 0 5%;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 3px;
  font-family: helvetica;
  font-size: 1.2rem;
}

/* line 157, ../compass/sass/styles.scss */
::placeholder {
  color: rgba(153, 153, 153, 0.5);
  letter-spacing: 0.12rem;
  font-style: italic;
}
