/* line 1, ../compass/sass/styles.scss */
.App {
  text-align: center;
}

/* line 5, ../compass/sass/styles.scss */
.App-header {
  background-color: #c2c2c2;
  height: 50px;
  padding: 20px;
  color: white;
}

/* line 12, ../compass/sass/styles.scss */
body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
